*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 16px;
}
section{
    max-width: 100%;
    width: 50%;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(poto/Group\ 5.png);
    padding: 0% 160px;
}
.loren{
    color: rgb(230, 236, 241);
    padding-right: 30px;
}
h1{
    font-size: 60px;
    line-height: 57px;
    margin-bottom: 25px;
}
.loren p{
    line-height: 20px;

}
.head{
    width: 90%;
    background-color: rgb(46, 46, 228);
    color: antiquewhite;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 9px;
    padding-right: 34px;
}
#form{
    width: 90%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    border-radius: 8px;
}
form div{
    display: flex;
    
}
input, button{
    padding: 17px;
    margin-bottom: 18px;
    border-radius: 8px;
    font-weight: 600;
}
button{
    text-transform: uppercase;
    color: rgb(239, 232, 232);
    background-color:#38CC8B;
    font-size: 40px;
}
form p{
    font-size: 10px;
    color: rgb(1, 12, 21);
    margin: auto;
}
form p span{
    color: rgb(236, 8, 8);
}
input{
    font-size: 35px;
}